/* Container for feedback section */
.container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #303841;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: #222831;
}

@media (max-width: 768px){
    .container{
        box-shadow: none;
    }
}