header {
    background-color: #303841;
    color: #EEEEEE;
    top: 0;
    padding: 20px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    font-family: poppins, sans-serif;
}

header a {
    color: #EEEEEE;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.Search {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 20px;
}

body {
    margin: 0;
    background-color: #EEEEEE;
}

body h1 {
    font-family: Open Sans, sans-serif;
    text-align: center;
    margin-top: 20px;
}

body p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    font-family: poppins, sans-serif;
    background-color: #303841;
    color: #EEEEEE;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for the homepage directly */
.movie-grid {
    display: grid;
    background-color: #303841;
}

#top-movies {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    margin-left: 20px;
}

.search-wrapper {
    position: relative;
    width: 300px;
    margin: 20px;
}

#search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#results {
    position: absolute;
    left: 0;
    width: 100%;
    background: #ffffff;
    border: 1px solid #ccc;
    max-height: 250px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.item {
    padding: 10px;
    cursor: pointer;
    background: #ffffff;
}

.item:hover {
    background: #f0f0f0;
}


