header {
    background-color: #303841;
    color: #EEEEEE;
    top: 0;
    padding: 20px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    font-family: poppins, sans-serif;
    z-index: 1000;
nav{
    display: flex;
    
}
}

header a {
    color: #EEEEEE;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

body h1 {
    font-family: Open Sans, sans-serif;
    text-align: center;
    margin-top: 20px;
}

body p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    font-family: poppins, sans-serif;
    background-color: #303841;
    color: #EEEEEE;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles for the homepage directly */
.movie-grid {
    display: grid;
    background-color: #303841;
    color: #EEEEEE;
}
#top-movies {
    display: flex;
    overflow-x: auto;
    padding: 20px;
    margin-left: 20px;
}
.movie {
  border: 1px solid none;
  border-radius: 10px;
  padding: 15px;
  width: 180px;
  text-align: center;
}

.search-container{
    display: flex;
    margin: 20px 0;
}
.search-wrapper {
    position: relative;
    align-items: flex-start;
    width: auto;
    margin: 20px;
    gap: 10px;
}

#search {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#results {
    position: absolute;
    left: 0;
    width: 100%;
    background: whitesmoke;
    border: 1px solid whitesmoke;
    max-height: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#Home-button {
    display: relative;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #303841;
    color: #EEEEEE;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

#Home-button:hover {
    background-color: #222831;
}


/*for drop down menu*/


#menu-toggle{
    display: none;
}
.menu-btn{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
.menu{
    display: flex;
    
}

@media (max-width: 768px){
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu{
        display: none;
        flex-direction: column;
        background-color: #303841;
        width: 100%;
        text-align: center;
    }
    .menu a{
        padding: 10px;
        border-top: 1px 
    }
    .menu-btn{
        display: block;
        
    }
    #menu-toggle:checked + .menu-btn + .menu {
        display: flex;
    }
    #search{
        width: 260px;
    }
}
    






